{% extends 'base.html' %}

{% block content %}
<div class="container border border-2 border-dark mt-5 w-50 d-flex justify-content-between flex-wrap">
    <img class="book-logo w-100 mx-auto"
        src="{% if book.image_id %}{{ url_for('image', image_id=book.image_id) }}{%endif%}" />
    <div class="d-flex flex-wrap flex-column">
        <h2 class="mt-3">{{book.name}}</h2>
        <h4 class="mt-1">Издательство: <span>{{book.pub_house}}</span></h4>
        <h4 class="mt-1">Автор: <span>{{book.author}}</span></h4>
        <h4 class="mt-1">Описание: <span>{{book.short_desc | safe}}</span></h4>
        <h4 class="mt-1">Год написания: <span>{{book.year}}</span></h4>
        <h4 class="mt-1">Объём (в страницах): <span>{{book.volume}}</span></h4>
        <h4 class="mt-1">Жанр(ы): <br>
            <ul>
                {% for genre in genres %}
                <li>
                    <h5>{{genre.name}}</h5>
                </li>
                {% endfor %}
            </ul>
        </h4>
    </div>
    <p class="ms-auto rating">
        <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span>
    </p> 
</div>
<div class="container mt-5">
    <section class="reviews mb-5">
        {% if current_user.is_authenticated %}
            {% if comment and comment.status_id == 2 %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Ваша рецензия</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ comment.text | safe }}</p>
                        <p class="card-text"><small class="text-muted">Оценка: {{ comment.mark }}</small></p>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if all_comments %}
        <h2 class="mb-3 text-center text-uppercase font-weight-bold">Все рецензии</h2>
            {% for com in all_comments %}
                {% if com.status_id == 2 %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">{{ com.get_user() }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ com.text | safe }}</p>
                            <p class="card-text"><small class="text-muted">Оценка: {{ com.mark }}</small></p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>
  </div>
  {% if current_user.is_authenticated and not comment %}
  <a class="btn btn-primary m-3" href="{{url_for('comments.comment_post', book_id=book.id)}}">Написать рецензию</a>
  {% endif %}
{% endblock %}