{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <section class="reviews mb-5">
        {% if comments %}
        <h2 class="mb-3 text-center text-uppercase font-weight-bold">Мои рецензии</h2>
            {% for com in comments %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">{{ com.book.name }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ com.text }}</p>
                        <p class="card-text">Статус: {{ com.status.name }}</p>
                        <p class="card-text"><small class="text-muted">Оценка: {{ com.mark }}</small></p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </section>
  </div>

{% endblock %}